In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv('./assets/dataset.csv')

In [19]:
print(dataset.head(100))

    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0    63    1   3       145   233    1        0      150      0      2.3
1    37    1   2       130   250    0        1      187      0      3.5
2    41    0   1       130   204    0        0      172      0      1.4
3    56    1   1       120   236    0        1      178      0      0.8
4    57    0   0       120   354    0        1      163      1      0.6
..  ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
95   53    1   0       142   226    0        0      111      1      0.0
96   62    0   0       140   394    0        0      157      0      1.2
97   52    1   0       108   233    1        1      147      0      0.1
98   43    1   2       130   315    0        1      162      0      1.9
99   53    1   2       130   246    1        0      173      0      0.0

    slope  ca  thal  target
0       0   0     1       1
1       0   0     2       1
2       2   0     2       1
3       2   0     2       1
4       2   0     2       1
..    ...  ..   ...     ...
95      2   0     3       1
96      1   0     2       1
97      2   3     3       1
98      2   1     2       1
99      2   3     2       1

[100 rows x 14 columns]

In [10]:
print("First 5 rows of the dataset:")
print(dataset.head())

First 5 rows of the dataset:
   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1

In [25]:
print("\n Value in the age of column")
print(dataset["age"])

 Value in the age of column
0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [14]:
print(dataset[["age" , "ca"]])

     age  ca
0     63   0
1     37   0
2     41   0
3     56   0
4     57   0
..   ...  ..
298   57   0
299   45   0
300   68   2
301   57   1
302   57   1

[303 rows x 2 columns]

In [26]:
print("First 3 rows of the dataset:")
print(dataset.iloc[0:3])

First 3 rows of the dataset:
   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1

In [27]:
print("age under 25")
print(dataset["age"] < 30)

age under 25
0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Name: age, Length: 303, dtype: bool